/* Hero Main text:
48px extra-bold #F9FAF8 */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    background-color: #1f2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.header_logo {
    font-size: 24px;
}

ul {
    font-size: 18px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: small;
    display: flex;
    gap: 10px;
}

.first_div {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 50px 10%;
    gap: 50px;
}

.text {
    color: #F9FAF8;
    flex: 1 1 0;
    font-size: 18px;
}

.text h1 {
    font-size: 48px;
    font-weight: extra_bold;
}

.image_box {
    width: 100px;
    height: 100px;
    background-color: gray;
}

.sign_up {
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 6px 25px;
    border-radius: 5px;
    border: none;
}

.second_div {
    background-color: #F9FAF8;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 50px 0;
}

.second_div h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}

.box_container {
    display: flex;
    gap: 40px;

}

.box {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.image {
    border: 5px solid #3882f6;
    border-radius: 25px;
    width: 150px;
    height: 150px;

}

.box_container p {
    font-size: small;
    width: 150px;
    padding: 0;
    margin: 20px 0;
    height: auto;
    text-align: center;
}

.third_div {
    display: flex;
    padding: 60px 20%;
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
    flex-direction: column;
    align-items: flex-start;
}

.third_div p {
    padding: 0;
    margin: 5px;
}

.signature {
    font-size: 26px;
    font-weight: bold;
    align-self: flex-end;
    padding: 0;
    margin: 0;
}

.fourth_div {
    background-color: #3882f6;
    margin: 50px 0;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.fourth_div h1 {
    font-size: 26px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.fourth_div p {
    font-size: 18px;
    font-weight: 100;
    padding: 0;
    margin: 0;
}

.fourth_div .sign_up {
    flex: 0 1 auto;
    border: 2px solid #F9FAF8;
    padding: 5px 20px;
}

footer {
    background-color: #1f2937;
    margin: 0;
    padding: 50px;
    display: flex;
    color: #e5e7eb;
    justify-content: center;
    align-items: center;
}

